body {
    background-color: white;

}

h3 {
    color: Black;
}

p { 	font-size: 1.2em;
			text-align: left;
			font-family: calibri;
      margin-left:auto;
      margin-right:auto;
			}

h1 {
    color: black;
    text-align: center;
}

#p01 {
    color: black;
}

.stylelogo {
            margin-left:auto;
            margin-right:auto;
			      padding:10px;

}


ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px;
      text-decoration: none;
  }

  li a:hover {
      background-color: powderblue;
  }

  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

  .stylebody
